<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon"
    href="<%= htmlWebpackPlugin.options.publicPath %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.templateParameters.pageTitle %></title>
  <!-- all stylesheets are loaded here -->
</head>
<body>
  <div id="title" class="title-bar show-for-small-only">
    <div class="title-bar-left">
      <span class="title-bar-title">
        <%= htmlWebpackPlugin.options.templateParameters.pageTitle %>
      </span>
    </div>
    <div class="title-bar-right">
      <button type="button" class="primary button" id="menu-button"
       data-toggle="menu-wrapper">Menu</button>
    </div>
  </div>
  <div id="page-wrapper-outer" class="off-canvas-wrapper">
    <div id="page-wrapper-inner">
      <div id="menu-wrapper" class="off-canvas" data-off-canvas
       data-close-on-click="true" data-in-canvas-on="medium">
        <div id="menu">
          <span class="hide-for-small-only menu-title">
            <%= htmlWebpackPlugin.options.templateParameters.pageTitle %>
          </span>
          <ul id="controls">
            <li>
              <label id="dark-mode-label" for="dark-mode-switch">Toggle dark mode</label>
              <div class="switch" id="dark-mode-control">
                <input class="switch-input" id="dark-mode-switch"
                 aria-labelledby="dark-mode-label" type="checkbox" tabindex="0">
                <label class="switch-paddle" for="dark-mode-switch"></label>
              </div>
            </li>
            <li>
              <button type="button" class="primary button expanded icon-button md-squiggle"
                id="interpolate-button" tabindex="0">Interpolate</button>
            </li>
            <li>
              <button type="button" class="primary button expanded icon-button md-grayscale"
                id="grayscale-button" tabindex="0">Grayscale</button>
            </li>
          </ul>
          <%= htmlWebpackPlugin.options.templateParameters.partials.nav %>
        </div>
      </div>
      <div id="app" class="off-canvas-content" data-off-canvas-content>
        <div id="controls-wrapper">
          <label id="luminosity-label" for="luminosity-thumb" data-tooltip
           tabindex="0" title="For simplicity, this luminosity is Y' in the YUV color model."
           data-position="right" data-alignment="center" role="tooltip">Luminosity</label>
          <div id="luminosity-control" class="slider" data-slider
           data-initial-start="0.7" data-start="0" data-end="1"
           data-step="0.01" role="presentation">
            <span id="luminosity-thumb" aria-labelledby="luminosity-label"
             class="slider-handle" data-slider-handle role="slider"
             aria-controls="luminosity-input" tabindex="0"></span>
            <span class="slider-fill" data-slider-fill role="presentation"></span>
            <input type="hidden" id="luminosity-input">
          </div>
          <label id="breakpoints-label" for="breakpoints-thumb" data-tooltip
           tabindex="0" title="Add at least two breakpoints to interpolate a colormap."
           data-position="right" data-alignment="center" role="tooltip">Breakpoints</label>
          <div id="breakpoints-control" class="slider"></div>
        </div>
        <div id="render-wrapper">
          <span class="show-for-sr" id="canvas-label">
            An image showing a two-dimensional slice through the Y'UV color space
          </span>
          <canvas id="colors" tabindex="0" aria-labelledby="canvas-label"></canvas>
          <div id="zoom"></div>
        </div>
        <div id="preview-wrapper">
          <div id="preview-controls">
            <label id="preview-label" for="preview">Preview</label>
            <div id="preview-buttons">
              <a class="primary button icon-button md-data disabled"
               id="get-json-button" href="" target="_blank" aria-disabled
               download="colormap.json" tabindex="0">Download JSON</a>
              <a class="primary button icon-button md-terminal disabled"
               id="get-python-button" href="" target="_blank" aria-disabled
               download="colormap.py" tabindex="0">Download Python</a>
              <a class="primary button icon-button md-image disabled"
               id="get-image-button" href="" target="_blank" aria-disabled
               download="colormap.png" tabindex="0">Download PNG</a>
            </div>
          </div>
          <canvas id="preview"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- vendor and page scripts are loaded here -->
</body>
</html>
