<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon"
    href="<%= htmlWebpackPlugin.options.publicPath %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.templateParameters.pageTitle %></title>
  <!-- all stylesheets are loaded here -->
</head>
<body>
  <div id="title" class="title-bar show-for-small-only">
    <div class="title-bar-left">
      <span class="title-bar-title">
        <%= htmlWebpackPlugin.options.templateParameters.pageTitle %>
      </span>
    </div>
    <div class="title-bar-right">
      <button type="button" class="primary button" id="menu-button"
       data-toggle="menu-wrapper">Menu</button>
    </div>
  </div>
  <div id="page-wrapper-outer" class="off-canvas-wrapper">
    <div id="page-wrapper-inner">
      <div id="menu-wrapper" class="off-canvas" data-off-canvas
       data-close-on-click="true" data-in-canvas-on="medium">
        <div id="menu">
          <span class="hide-for-small-only menu-title">
            <%= htmlWebpackPlugin.options.templateParameters.pageTitle %>
          </span>
          <ul id="controls">
            <li>
              <label id="font-size-label" for="font-size-thumb">Font size multiplier</label>
              <div id="font-size-control" class="slider" data-slider
               data-initial-start="1.1" data-start="0.6" data-end="2.6" data-step="0.1">
                <span id="font-size-thumb" aria-labelledby="font-size-label"
                 class="slider-handle" data-slider-handle role="slider" tabindex="0"></span>
                <span class="slider-fill" data-slider-fill role="presentation"></span>
                <input type="hidden" id="font-size-input">
              </div>
            </li>
            <li>
              <label id="dark-mode-label" for="dark-mode-switch">Toggle dark mode</label>
              <div class="switch" id="dark-mode-control">
                <input class="switch-input" id="dark-mode-switch"
                 aria-labelledby="dark-mode-label" type="checkbox">
                <label class="switch-paddle" for="dark-mode-switch"></label>
              </div>
            </li>
            <li>
              <button type="button" class="primary button icon-button md-open expanded"
                id="open-file-button">Open file</button>
              <input type="file" id="open-file" multiple
               accept="text/*" style="display: none;"></input>
            </li>
          </ul>
          <%= htmlWebpackPlugin.options.templateParameters.partials.nav %>
        </div>
      </div>
      <div id="app" class="off-canvas-content" data-off-canvas-content>
        <div id="left-panel-input">
          <ul id="left-panel-tabs" class="tabs" data-tabs tabindex="0"></ul>
          <div id="left-panel-tabs-content" class="tabs-content"
           data-tabs-content="left-panel-tabs"></div>
        </div>
        <div id="right-panel-input">
          <ul id="right-panel-tabs" class="tabs" data-tabs tabindex="0">
            <li class="tabs-title is-active"><a href="#meta-input">Metadata</a></li>
            <li class="tabs-title"><a href="#doc-input">Document</a></li>
            <li class="tabs-title" id="doc-preview-tab-title"><a href="#doc-preview">Preview</a></li>
            <li class="tabs-title"><a href="#html-ref">Quick ref</a></li>
          </ul>
          <div id="right-panel-tabs-content" class="tabs-content"
           data-tabs-content="right-panel-tabs">
            <div id="meta-input" class="tabs-panel is-active"></div>
            <div id="doc-input" class="tabs-panel"></div>
            <div id="doc-preview" class="tabs-panel"></div>
            <div id="html-ref" class="tabs-panel">
              <ul>
                <li>Basic document structure:
                  <pre><code class="language-latex">% in LaTeX
\section{Section title}
Some section text...

\subsection{Subsection title}
Some subsection text...</code></pre>
                  <pre><code class="language-html">&lt;!-- in HTML --&gt;
&lt;section&gt;
  &lt;h2&gt;Section title&lt;/h2&gt;
  &lt;p&gt;Some section text...&lt;/p&gt;
  &lt;section&gt;
    &lt;h3&gt;Subsection title&lt;/h3&gt;
    &lt;p&gt;Some subsection text...&lt;/p&gt;
  &lt;/section&gt;
&lt;/section&gt;</code></pre></li>
                <li><b>Bold text:</b> <code class="language-latex">\textbf{...}</code> to
                  <code class="language-html">&lt;strong&gt;...&lt;/strong&gt;</code> or <code class="language-html">&lt;b&gt;...&lt;/b&gt;</code></li>
                <li><i>Italic text:</i> <code class="language-latex">\textit{...}</code> to
                  <code class="language-html">&lt;emph&gt;...&lt;/emph&gt;</code> or <code class="language-html">&lt;i&gt;...&lt;/i&gt;</code></li>
                <li>Su<sub>b</sub>script text: <code class="language-latex">\textsubscript{...}</code> to <code class="language-html">&lt;sub&gt;...&lt;/sub&gt;</code></li>
                <li>Su<sup>p</sup>erscript text: <code class="language-latex">\textsuperscript{...}</code> to <code class="language-html">&lt;sup&gt;...&lt;/sup&gt;</code></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- vendor and page scripts are loaded here -->
</body>
</html>
