<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= htmlWebpackPlugin.options.templateParameters.pageTitle %></title>
  <!-- all stylesheets loaded here -->
  <% for (const styleName of htmlWebpackPlugin.files.css) { %>
  <link rel="stylesheet" href="<%= styleName %>" />
  <% } %>
</head>
<body>
  <div id="title" class="title-bar show-for-small-only">
    <div class="title-bar-left">
      <span class="title-bar-title"><%= htmlWebpackPlugin.options.templateParameters.pageTitle %></span>
    </div>
    <div class="title-bar-right">
      <button type="button" class="primary button" id="menuButton" data-toggle="menuWrapper">Menu</button>
    </div>
  </div>
  <div id="pageWrapperOuter" class="off-canvas-wrapper">
    <div id="pageWrapperInner">
      <div id="menuWrapper" class="off-canvas" data-off-canvas data-close-on-click="true" data-in-canvas-on="medium">
        <ul id="menu">
          <li><span class="menu-title"><%= htmlWebpackPlugin.options.templateParameters.pageTitle %></span></li>
          <li>
            <label id="darkModeLabel" for="darkModeSwitch">Toggle dark mode</label>
            <div class="switch" id="darkModeControl">
              <input class="switch-input" id="darkModeSwitch" name="darkModeSwitch" aria-labelledby="darkModeLabel" type="checkbox">
              <label class="switch-paddle" for="darkModeSwitch"></label>
            </div>
          </li>
          <li>
            <button type="button" class="primary button" id="interpolateButton">
              <span class="icon md-squiggle"></span>Interpolate
            </button>
          </li>
          <li>
            <button type="button" class="primary button" id="grayscaleButton">
              <span class="icon md-grayscale"></span>Toggle grayscale
            </button>
          </li>
        </ul>
      </div>
      <div id="app" class="off-canvas-content" data-off-canvas-content>
        <div id="controlsWrapper">
          <label id="luminosityLabel" for="luminosityThumb">Luminosity</label>
          <div id="luminosityControl" class="slider" data-slider data-initial-start="0.8" data-start="0" data-end="1" data-step="0.02" role="presentation">
            <span id="luminosityThumb" name="luminosityThumb" aria-labelledby="luminosityLabel" class="slider-handle" data-slider-handle role="slider" aria-controls="luminosityInput" tabindex="0"></span>
            <span class="slider-fill" data-slider-fill role="presentation"></span>
            <input type="hidden" id="luminosityInput">
          </div>
          <label id="breakpointsLabel" for="breakpointsThumb" data-tooltip tabindex="0" title="Add at least two breakpoints to interpolate a colormap." data-position="right" data-alignment="center" role="tooltip">Breakpoints</label>
          <div id="breakpointsControl" class="slider"></div>
        </div>
        <div id="renderWrapper">
          <img id="colors" src="" />
          <div id="zoom"></div>
        </div>
        <div id="previewWrapper">
          <label id="previewLabel" for="preview">Preview</label>
          <img id="preview" src="" />
        </div>
      </div>
    </div>
  </div>
  <!-- vendor scripts and page script -->
  <% for (const scriptName of htmlWebpackPlugin.files.js) { %>
  <script src="<%= scriptName %>" type="text/javascript"></script>
  <% } %>
</body>
</html>
